<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard Template for Bootstrap</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrapt/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrapt/css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrapt/css/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrapt/css/scojs.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">点餐后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">tuichu</a></li>
                <li><a href="#">Help</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'checkstand:home' %}">收银</a></li>
                <li><a href="{% url 'checkstand:page' 1 %}">历史订单</a></li>

            </ul>

            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">桌号管理</a></li>
                <li><a href="{% url 'checkstand:menukindmanage' %}">菜类管理</a></li>
                <li><a href="{% url 'checkstand:menumanage' %}">菜单管理</a></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><a href="{% url 'checkstand:incomeday' %}">日收入</a></li>
                <li><a href="{% url 'checkstand:incomemonth' %}">月收入</a></li>
                <li><a href="{% url 'checkstand:incomeyear' %}">年收入</a></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><a href="#">菜单分析</a></li>
                <li><a href="">订单分析</a></li>
            </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div style="margin-bottom: 20px">
                <div class="button-group">
                    <button type="button" class="button button-primary" data-toggle="modal" data-target="#addDesks">
                        批量新增
                    </button>
                    <button class="button button-primary   button-primary"
                            data-toggle="modal"
                            data-target="#delDesk">
                        删除桌号
                    </button>
                    <button id="btn_print" class="button button-primary   button-primary"
                            data-toggle="modal"
                            data-target="#myModal_qrcode"
                            onclick="printAll()"
                    >
                        打印所有
                    </button>
                </div>
                <form class="form-search pull-right">
                    <input type="text" name="username" id="queryname" class="input-medium search-query">
                    <button type="submit" class="button button-circle button-primary ">
                        <span class="glyphicon glyphicon-search"/></button>
                </form>
            </div>

            <div id="deskContent" class="row placeholders">
                {% for desk in desks %}
                    <div class="col-sm-6 col-md-2 placeholder">
                        <div class="thumbnail">
                            <img id="qrcorde_{{ desk.id }}" src="{{ desk.qr_coder }}" alt="...">
                            <div class="caption">
                                <h3 id="desk_{{ desk.id }}">{{ desk.id }}号</h3>
                                <button class="button button-small button-primary"
                                        onclick="printQrcode('#qrcorde_{{ desk.id }},#desk_{{ desk.id }}')">打印二维码
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="modal fade" id="delDesk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">删除桌号</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3" for="domain">桌号：</label>
                                <div class="col-md-9">
                                    <select id="delDeskId" class="form-control">
                                        {% for desk in desks %}
                                            <option>{{ desk.id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="button-group">
                            <button type="submit"
                                    class="button button-primary button-small"
                                    onclick="delSingle()">
                                确定
                            </button>
                            <button type="button"
                                    class="button button-small"
                                    data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addDesks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">批量新增桌号</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3" for="domain">域名/ip地址：</label>
                                <div class="col-md-9">
                                    <input type="text" id="domain" class="form-control " name="domain_name"
                                           placeholder="域名/ip地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3" for="domain">端口号：</label>
                                <div class="col-md-9">
                                    <input type="text" id="port" class="form-control " name="domain_name"
                                           placeholder="端口号">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3" for="desknum">生成个数：</label>
                                <div class="col-md-9">
                                    <input type="text" id="desknum" class="form-control " name="desk_number"
                                           placeholder="数量">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="button-group">
                            <button type="submit"
                                    class="button button-primary button-small"
                                    onclick="addMany()">
                                确定
                            </button>
                            <button type="button"
                                    class="button button-small"
                                    data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="{% static 'bootstrapt/js/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'bootstrapt/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrapt/js/sco.message.js' %}"></script>
<script src="{% static 'bootstrapt/js/printThis.js' %}"></script>
<script>

    function printQrcode(prints) {
        /* Act on the event */
        $(prints).printThis({
            debug: false,
            importCSS: false,
            importStyle: false,
            printContainer: true,
//               loadCSS: "/Content/Themes/Default/style.css",
            pageTitle: "二维码",
            removeInline: false,
            printDelay: 333,
            header: null,
            formValues: false
        })
//      alert("等待打印");;
    }

    function printAll() {
        var printString = ""
        {% for desk in desks %}
            printString += "#qrcorde_{{ desk.id }},#desk_{{ desk.id }},"
        {% endfor %}
        var prints = printString.substr(0, printString.length - 1)
        printQrcode(prints)

    }


    function addMany() {
        var domain = $('#domain').val()
        var number = $('#desknum').val()
        var port=$('#port').val()
        $.ajax({
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            url: "{% url 'checkstand:desk_add_many' %}",
            type: 'POST',
            tradition: true,
            dataType: 'json',
            data: {'domain': domain, 'number': number},
            success: function (data) {
                if (data.state == 'success') {
                    $.scojs_message('新增' + data.start + '-' + data.end + '桌号成功', $.scojs_message.TYPE_OK);
                    $('#addDesks').modal('hide')
                    reLoad(data.desks)
                }
            },
        })
    }

    function delSingle() {
        var id = $('#delDeskId').val()
        $.ajax({
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            url: "{% url 'checkstand:desk_del_single' %}",
            type: 'POST',
            tradition: true,
            dataType: 'json',
            data: {'del_id': id,},
            success: function (data) {
                if (data.state == 'success') {
                    $.scojs_message(id + '号删除成功', $.scojs_message.TYPE_OK);
                    $('#delDesk').modal('hide')
                    reLoad(data.desks)
                    selectReLoad(data.desks)
                }
            },
        })
    }

    function selectReLoad(data) {
        var desks = JSON.parse(data)
        var html = ""
        for (var key in desks) {
            var id = desks[key].pk
            html += "<option>" + id + "</option>"
        }
        $('#delDeskId').html(html)
    }

    function reLoad(data) {
        var desks = JSON.parse(data)
        var html = ""
        for (var key in desks) {
            var id = desks[key].pk
            var qrcode = desks[key].fields.qr_coder
            var print = "#qrcorde_" + id + ",#desk_" + id
            html +=
                "<div class='col-sm-6 col-md-2 placeholder'>" +
                "<div class='thumbnail'>" +
                "<img id='qrcorde_" + id + "' src='" + qrcode + "' alt='...'>" +
                "<div class='caption'>" +
                "<h3 id='desk_" + id + "'>" + id + "号</h3>" +
                "<button class='button button-small button-primary' onclick=\"printQrcode( '" + print + "')\">打印二维码</button>" +
                "</div>" +
                "</div>" +
                "</div>"
        }
        console.log(html)
        $('#deskContent').html(html)
    }
</script>
</body>

</html>

