<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收银台</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrapt/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrapt/js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'bootstrapt/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container-fluid">
    <h1>收银台</h1>
</div>
<hr style="height:3px;border:none;border-top:3px groove deepskyblue;"/>

<div class="container-fluid">
    <div class="row">

        <div class="span2  col-xs-12 col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{% url 'checkstand:index' %}">收银</a></li>
                <li><a href="{% url 'checkstand:history' %}">历史订单</a></li>
                <li><a href="{% url 'checkstand:updata' %}">修改菜单</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>桌号</th>
                    <th>时间</th>
                    <th>总价</th>
                    <th style="text-align: center">收款</th>

                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    {% if order.state is  False %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.desk_id }}</td>
                            <td>{{ order.time }}</td>
                            <td>{{ order.totle_price }}</td>
                            <td style="text-align: center">

                                <button type="button" class="btn btn-success " data-toggle="modal"
                                        data-target="#myModal{{ order.id }}">
                                    现金支付
                                </button>

                                <div class="modal fade" id="myModal{{ order.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">支付账单</h4>
                                            </div>

                                            <form action="{% url 'checkstand:payaction' %}" method="post">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <input type="text" name="order_id" value="{{ order.id }}"
                                                           style="display: none">
                                                    <table class="table">
                                                        <th style="text-align: center">菜名</th>
                                                        <th style="text-align: center">份数</th>
                                                        <th style="text-align: center">单价</th>
                                                        <th style="text-align: center">总价</th>
                                                        {% for order_detail in order_details %}
                                                            {% if order.id is order_detail.order_id %}
                                                                <tr>
                                                                    <td>{{ order_detail.menu.name }}</td>
                                                                    <td>{{ order_detail.num }}</td>
                                                                    <td>{{ order_detail.menu.price }}</td>
                                                                    <td>
                                                                        {% widthratio order_detail.num 1 order_detail.menu.price %}
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <tr>
                                                            <td>总价</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>{{ order.totle_price }}</td>
                                                        </tr>

                                                    </table>
                                                    <div style="padding: 10px 20px 20px 30px">
                                                        <p class="pull-left">桌号：{{ order.desk.id }}号</p>
                                                        <p class="pull-right">下单时间：{{ order.time }}</p>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" class="btn btn-danger"
                                                           value="确认收款">
                                                    <button type="button"
                                                            class="btn btn-default"
                                                            data-dismiss="modal">
                                                        关闭
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>