{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>后台管理</title>
    <link href="{% static 'bootstrapt/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrapt/css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrapt/css/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrapt/css/scojs.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span><img src="{% static 'brand/logo.png' %}" width="20px" height="20px"> </span>点餐后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">未付款 <span class="badge">4</span></a></li>
                {% if request.session.is_login %}
                    <li><a href="#">管理员：{{ request.session.seller_name }}</a></li>

                    <li><a href="#" data-toggle="modal" data-target="#myModal">注销</a></li>
                {% else %}
                    <li><a href='/checkstand/loginpage'>登陆</a></li>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">查看信息</a></li>
                        <li><a href="#">修改信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">修改密码</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li {% block nav_home %}{% endblock %}><a href="{% url 'checkstand:home' %}">收银</a></li>
                <li {% block nav_history %}{% endblock %}><a href="{% url 'checkstand:page' 1 %}">历史订单</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li {% block nav_desk %}{% endblock %}><a href="{% url 'checkstand:manage_desk' %}">桌号管理</a></li>
                <li {% block nav_kind %}{% endblock %}><a href="{% url 'checkstand:manage_kind' %}">菜类管理</a></li>
                <li {% block nav_menu %}{% endblock %}><a href="{% url 'checkstand:manage_menu' %}">菜单管理</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li {% block nav_day %}{% endblock %}><a href="{% url 'checkstand:income_day' %}">日收入</a></li>
                <li {% block nav_month %}{% endblock %}><a href="{% url 'checkstand:income_month' %}">月收入</a></li>
                <li {% block nav_year %}{% endblock %}><a href="{% url 'checkstand:income_year' %}">年收入</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li {% block nav_menus %}{% endblock %}><a href="{% url 'checkstand:analyze_menu' %}">菜单分析</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if request.session.is_login %}
                {% block html_content %}{% endblock %}
            {% else %}
                <h1>请先登陆</h1>
            {% endif %}

        </div>

    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">确认注销</h4>
                </div>
                <div class="modal-body">
                    你是否要注销？
                </div>
                <div class="modal-footer">
                    <div class="button-group">
                        <a href="{% url 'checkstand:logout' %}" class="button button-small button-caution">注销</a>
                        <button type="button"
                                class="button button-small"
                                data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block modal %}{% endblock %}

</div>
<script src="{% static 'bootstrapt/js/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'bootstrapt/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrapt/js/sco.message.js' %}"></script>
{% block js %}{% endblock %}
{% if request.session.is_login %}
    {% block js_content %}{% endblock %}
{% endif %}
</body>
</html>