<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收银台</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrapt/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrapt/css/dashboard.css' %}" rel="stylesheet">

    <link href="{% static 'bootstrapt/css/buttons.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrapt/js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'bootstrapt/js/bootstrap.min.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">点餐后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>


                <li><a href="#">Settings</a></li>
                <li><a href="#">tuichu</a></li>
                <li><a href="#">Help</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'checkstand:home' %}">收银</a></li>
                <li><a href="{% url 'checkstand:page' 1 %}">历史订单</a></li>

            </ul>

            <ul class="nav nav-sidebar">
                <li><a href="{% url 'checkstand:deskmanage' %}">桌号管理</a></li>
                <li><a href="{% url 'checkstand:menukindmanage' %}">菜类管理</a></li>
                <li class="active"><a href="{% url 'checkstand:menumanage' %}">菜单管理</a></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><a href="{% url 'checkstand:incomeday' %}">日收入</a></li>
                <li><a href="{% url 'checkstand:incomemonth' %}">月收入</a></li>
                <li><a href="{% url 'checkstand:incomeyear' %}">年收入</a></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><a href="#">菜单分析</a></li>
                <li><a href="">订单分析</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row" style="margin-bottom: 20px">
                <button class="button button-glow button-rounded button-primary   button-primary" data-toggle="modal"
                        data-target="#addMenu">
                    新增菜品
                </button>


                <form class="form-search pull-right">
                    <input type="text" name="username" id="queryname" class="input-medium search-query">
                    <button type="submit" class="button button-circle button-primary ">
                        <span class="glyphicon glyphicon-search"/></button>
                </form>
            </div>


            <div class="row">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#allmenu" aria-controls="allmenu" role="tab"
                           data-toggle="tab">全部</a>
                    </li>

                    {% for kind in kinds %}
                        <li role="presentation">
                            <a href="#home{{ kind.id }}" aria-controls="home{{ kind.id }}" role="tab"
                               data-toggle="tab">{{ kind.name }}</a>
                        </li>
                    {% endfor %}
                </ul>


                <div class="tab-content">
                    <div role="tabpane0" class="tab-pane active" id="allmenu">
                        <div class="row placeholders" style="padding-top: 30px">
                            {% for menu in menus %}
                                <div class="col-sm-6 col-md-3 placeholder">
                                    <div class="thumbnail">
                                        <img src="/media/{{ menu.img }}" class="img-responsive">
                                        <div class="caption">
                                            <h3>{{ menu.name }}</h3>
                                            <p>价格：{{ menu.price }}元</p>

                                            <button class="button button-primary  button-small "
                                                    data-toggle="modal"
                                                    data-target="#image{{ menu.id }}">
                                                查看原图
                                            </button>
                                            <div class="modal fade" id="image{{ menu.id }}" tabindex="-1" role="dialog"
                                                 aria-labelledby="myLargeModalLabel">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <img src="/media/{{ menu.img }}" style="width: auto;height: auto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for kind in kinds %}
                        <div role="tabpane{{ kind.id }}" class="tab-pane" id="home{{ kind.id }}">
                            <div class="row placeholders" style="padding-top: 30px">
                                {% for menu in menus %}
                                    {% ifequal kind.id menu.kind_id %}
                                        <div class="col-sm-6 col-md-3 placeholder">
                                            <div class="thumbnail">
                                                <img src="/media/{{ menu.img }}">
                                                <div class="caption">
                                                    <h3>{{ menu.name }}</h3>
                                                    <p>价格：{{ menu.price }}元</p>
                                                    <div class="button-group">
                                                        <button class="button button-primary  button-small"
                                                                data-toggle="modal"
                                                                data-target="#update{{ menu.id }}">
                                                            修改
                                                        </button>
                                                        <button class="button  button-small"
                                                                data-toggle="modal"
                                                                data-target="#delete{{ menu.id }}">删除
                                                        </button>
                                                    </div>
                                                    <div class="modal fade" id="update{{ menu.id }}" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="myModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">
                                                                        修改菜品
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="form-horizontal"
                                                                          action="{% url 'checkstand:updateaction' %}"
                                                                          method="post" enctype="multipart/form-data">
                                                                        {% csrf_token %}

                                                                        <div class="form-group">
                                                                            <label class="col-md-2"
                                                                                   for="updateid">编号：</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" id="updateid"
                                                                                       class="form-control" name="id"
                                                                                       value="{{ menu.id }} "
                                                                                       readonly="readonly"/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-md-2"
                                                                                   for="updatename">菜名：</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" id="updatename"
                                                                                       class="form-control" name="name"
                                                                                       placeholder="修改菜名"
                                                                                       value="{{ menu.name }}"/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-md-2" for="updateprice">价格：</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" id="updateprice"
                                                                                       class="form-control" name="price"
                                                                                       placeholder="修改价格"
                                                                                       value="{{ menu.price }}">
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-md-2"
                                                                                   for="updateimg">图片：</label>
                                                                            <div class="col-md-10">
                                                                                <input type="file" id="updateimg"
                                                                                       class="form-control" name="img"
                                                                                       value="{{ menu.img }}">
                                                                            </div>
                                                                        </div>

                                                                        <div class="modal-footer">
                                                                            <div class="button-group">
                                                                                <button type="submit"
                                                                                        class="button button-primary button-small">
                                                                                    确定
                                                                                </button>
                                                                                <button type="button"
                                                                                        class="button button-small"
                                                                                        data-dismiss="modal">
                                                                                    关闭
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade" id="delete{{ menu.id }}" tabindex="-1"
                                                         role="dialog" aria-labelledby="myModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">
                                                                        确认删除
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="{% url 'checkstand:deleteaction' %}"
                                                                          method="post">
                                                                        {% csrf_token %}

                                                                        <input type="" id="del_id" class="form-control"
                                                                               name="id" value="{{ menu.id }}"
                                                                               style="display: none">

                                                                        <table class="table table-bordered">
                                                                            <thead>
                                                                            <tr>
                                                                                <th>编号</th>
                                                                                <th>菜名</th>
                                                                                <th>价格</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>{{ menu.id }}</td>
                                                                                <td>{{ menu.name }}</td>
                                                                                <td>{{ menu.price }}</td>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="modal-footer">
                                                                            <div class="button-group">
                                                                                <button type="submit"
                                                                                        class="button button-primary button-small">
                                                                                    确定
                                                                                </button>
                                                                                <button type="button"
                                                                                        class="button button-small"
                                                                                        data-dismiss="modal">
                                                                                    关闭
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endifequal %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addMenu" tabindex="-1" role="dialog"
         aria-labelledby="addMenuModalLabe"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addMenuModalLabe">
                        新增菜单
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{% url 'checkstand:createaction' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-2" for="newname">菜名：</label>
                            <div class="col-md-10">
                                <input type="text" id="newname" class="form-control " name="name"
                                       placeholder="新增菜名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2" for="newprice">价格：</label>
                            <div class="col-md-10">
                                <input type="text" id="newprice" class="form-control"
                                       name="price" placeholder="新增价格">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2" for="newkindname">类型：</label>
                            <div class="col-md-10">
                                <select class="form-control m-bot15" id="newkindname" name="kind_name">
                                    {% for kind in kinds %}
                                        <option>{{ kind.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2" for="newimg">图片：</label>
                            <div class="col-md-10">
                                <input type="file" id="newimg" class="form-control" name="img">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="button-group">
                                <button type="submit"
                                        class="button button-primary button-small">
                                    确定
                                </button>
                                <button type="button"
                                        class="button button-small"
                                        data-dismiss="modal">
                                    关闭
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>