<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收银台</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrapt/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrapt/js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'bootstrapt/js/bootstrap.min.js' %}"></script>

</head>
<body>
<div class="container-fluid">
    <h1>收银台</h1>
</div>
<hr style="height:3px;border:none;border-top:3px groove deepskyblue;"/>

<div class="container-fluid">
    <div class="row">
        <div class="span2  col-xs-12 col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'checkstand:index' %}">收银</a></li>
                <li><a href="{% url 'checkstand:history' %}">历史订单</a></li>
                <li class="active"><a href="{% url 'checkstand:updata' %}">修改菜单</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10">
            <div id="navcontrol" style="margin-bottom: 20px">
                <button class="btn btn-success" data-toggle="modal" data-target="#addKind">
                    <span class="glyphicon glyphicon-plus"/>新增类型
                </button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteKind">
                    <span class="glyphicon glyphicon-minus"/>删除类型
                </button>
                <button class="btn btn-warning" data-toggle="modal" data-target="#updateKind">
                    <span class="glyphicon glyphicon-plus"/>修改菜类
                </button>
                <button class="btn btn-success" data-toggle="modal" data-target="#addMenu">
                    <span class="glyphicon glyphicon-plus"/>新增菜品
                </button>
                <form class="form-search pull-right">
                    <input type="text" name="username" id="queryname" class="input-medium search-query">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"/>搜索</button>
                </form>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for kind in kinds %}
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="heading{{ kind.id }}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse{{ kind.id }}" aria-expanded="false"
                                   aria-controls="collapse{{ kind.id }}">
                                    {{ kind.name }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ kind.id }}" class="panel-collapse collapse" role="tabpane{{ kind.id }}"
                             aria-labelledby="heading{{ kind.id }}">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>菜名</th>
                                        <th>单价</th>
                                        <th style="text-align: center">图片</th>
                                        <th style="text-align: center">操作
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for menu in menus %}
                                        {% if menu.kind_id is kind.id %}
                                            <tr>
                                                <td>{{ menu.id }}</td>
                                                <td>{{ menu.name }}</td>
                                                <td>{{ menu.price }}</td>
                                                <td style="text-align: center">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary "
                                                            data-toggle="modal" data-target="#img{{ menu.id }}">查看图片
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="img{{ menu.id }}" tabindex="-1" role="dialog"
                                                         aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="myModalLabel">菜品
                                                                        图片</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="/media/{{ menu.img }}">
                                                                </div>
                                                                <div class="modal-footer">

                                                                    <button type="button" class="btn btn-primary"
                                                                            data-dismiss="modal">确认

                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center">
                                                    <button class="btn btn-warning" data-toggle="modal"
                                                            data-target="#update{{ menu.id }}">
                                                        修改
                                                    </button>
                                                    <div class="modal fade" id="update{{ menu.id }}" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="myModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">
                                                                        修改菜品
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="{% url 'checkstand:updateaction' %}"
                                                                          method="post" enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        <label for="newprice">编号：</label>
                                                                        <input type="" id="newprice"
                                                                               class="form-control" name="id"
                                                                               value="{{ menu.id }}"
                                                                               readonly="readonly">
                                                                        <br/>
                                                                        <label for="newname">菜名：</label>
                                                                        <input type="text" id="newname"
                                                                               class="form-control" name="name"
                                                                               placeholder="修改菜名"
                                                                               value="{{ menu.name }}">
                                                                        <br/>
                                                                        <label for="newprice">价格：</label>
                                                                        <input type="text" id="newprice"
                                                                               class="form-control" name="price"
                                                                               placeholder="修改价格"
                                                                               value="{{ menu.price }}">
                                                                        <br/>
                                                                        <div class="form-group">
                                                                            <label for="newimg">图片：</label>
                                                                            <br/>
                                                                            <img src="/media/{{ menu.img }}">
                                                                            <input type="file" id="newimg"
                                                                                   class="form-control" name="img"
                                                                                   placeholder="修改价格"
                                                                                   value="{{ menu.img }}">
                                                                        </div>
                                                                        <br/>
                                                                        <div class="modal-footer">
                                                                            <input type="submit" class="btn btn-primary"
                                                                                   value="提交">
                                                                            <button type="button"
                                                                                    class="btn btn-default"
                                                                                    data-dismiss="modal">
                                                                                关闭
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-danger" data-toggle="modal"
                                                            data-target="#delete{{ menu.id }}">
                                                        删除
                                                    </button>
                                                    <div class="modal fade" id="delete{{ menu.id }}" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="myModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">
                                                                        删除菜品
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="{% url 'checkstand:deleteaction' %}"
                                                                          method="post">
                                                                        {% csrf_token %}
                                                                        <label for="newprice">编号：</label>
                                                                        <input type="" id="newprice"
                                                                               class="form-control" name="id"
                                                                               value="{{ menu.id }}"
                                                                               readonly="readonly">
                                                                        <br/>
                                                                        <label for="newname">菜名：</label>
                                                                        <input type="text" id="newname"
                                                                               class="form-control" name="name"
                                                                               readonly="readonly"
                                                                               value="{{ menu.name }}">
                                                                        <br/>
                                                                        <label for="newprice">价格：</label>
                                                                        <input type="text" id="newprice"
                                                                               class="form-control" name="price"
                                                                               readonly="readonly"
                                                                               value="{{ menu.price }}">
                                                                        <br/>

                                                                        <label for="newimg">图片：</label>
                                                                        <img src="/media/{{ menu.img }}" id="newimg"
                                                                             name="img">
                                                                        <br/>
                                                                        <div class="modal-footer">
                                                                            <input type="submit" class="btn btn-primary"
                                                                                   value="提交">
                                                                            <button type="button"
                                                                                    class="btn btn-default"
                                                                                    data-dismiss="modal">
                                                                                关闭
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="addMenu" tabindex="-1" role="dialog"
         aria-labelledby="addMenuModalLabe"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addMenuModalLabe">
                        新增菜单
                    </h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'checkstand:createaction' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="newname">菜名：</label>
                        <input type="text" id="newname" class="form-control" name="name"
                               placeholder="新增菜名">
                        <br/>
                        <label for="newprice">价格：</label>
                        <input type="text" id="newprice" class="form-control"
                               name="price" placeholder="新增价格">
                        <br/>
                        <label for="newkindname">类型：</label>
                        <select class="form-control m-bot15" id="newkindname" name="kind_name">
                            {% for kind in kinds %}
                                <option>{{ kind.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="form-group">
                            <label for="newimg">图片：</label>
                            <input type="file" id="newimg"
                                   class="form-control" name="img"
                                   placeholder="修改价格"
                                   >
                        </div>
                        <br/>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="提交">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateKind" tabindex="-1" role="dialog"
         aria-labelledby="updateKindModalLabe"
         aria-hidden="true">
        <div class="modal-dialog" style="width:300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="updateKindModalLabe">
                        修改菜类
                    </h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'checkstand:updatekindacion' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="oldkind">旧菜类名：</label>
                            <select id="oldkind" class="form-control m-bot15" name="oldkindname">
                                {% for kind in kinds %}
                                    <option>{{ kind.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label for="newkind">新菜类名：</label>
                            <input type="text" id="newkind" class="form-control"
                                   name="newkindname" placeholder="">
                        </div>

                        <br>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="提交">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addKind" tabindex="-1" role="dialog"
         aria-labelledby="addKindModalLabe"
         aria-hidden="true">
        <div class="modal-dialog" style="width:300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addKindModalLabe">
                        新增菜类
                    </h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'checkstand:addkindaction' %}" method="post">
                        {% csrf_token %}
                        <div class="form-inline">
                            <label for="newkind">菜类名：</label>
                            <input type="text" id="newkind" class="form-control" name="kind_name"
                                   placeholder="菜类名">
                        </div>
                        <br>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="提交">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteKind" tabindex="-1" role="dialog"
         aria-labelledby="deleteKindModalLabe"
         aria-hidden="true">
        <div class="modal-dialog" style="width:300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="deleteKindModalLabe">
                        删除菜类
                    </h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'checkstand:deletekindacion' %}" method="post">
                        {% csrf_token %}
                        <select class="form-control m-bot15" id="deletekindname" name="kind_name">
                            {% for kind in kinds %}
                                <option>{{ kind.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="提交">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>